.news-box {
  width: 14rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .news-item-wrap {
    width: 4.0rem;
    height: 2.8rem;
    margin-bottom: .40rem;
    margin-right: 1rem;
    // display: inline-block;
    box-shadow: .02rem .02rem .12rem 0 rgba(0, 0, 0, .1);

    &:nth-child(3n) {
      margin-right: 0;
    }

    .news-item {
      margin-right: 0;
    }
  }
}


@media screen and (max-width: 960px) {
  .news-box {
    width: 18rem;

    .news-item-wrap {
      width: 18.00rem;
      height: 18.00rem;
      margin-right: 0;
      margin-bottom: 1.20rem;
    }
  }
}